.button {
    display: flex;
    font: inherit;
    border: 1px solid #ff7f50;
    background: #ff7f50;
    color: white;
    margin: 0px auto;
    margin-top: 15px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 10px;
}

.button:hover,
.button:active {
    background: white;
    border-color: #ff7f50;
    color: #ff7f50;
}

.button:focus {
    outline: none;
}
